.hero-section.section-container {
  padding-top: 32px;

  .hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  .hero-section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    width: 64px;
    height: 64px;
    line-height: 30px;

    >img {
      width: 100%;
    }
  }

  .hero-photo {
    width: 262px;
    height: 262px;
    object-fit: cover;
    filter: grayscale(100%);
  }
}